{% load static %}

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-between">
                <!-- Breaking News -->
                <div class="col-12 col-sm-6">
                    <div class="breaking-news">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Здравей свят!</a></li>
                                <li><a href="#">Добре дошли в моят сайт!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Top Social Info -->
                <div class="col-12 col-sm-6">
                    <div class="top-social-info text-right">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.png' %}"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'index' %}">Начало</a></li>
                                <li><a href="#">Мега меню</a>
                                    <div class="megamenu">
                                        {% for category in links %}
                                        <ul class="single-mega cn-col-4">
                                            <li class="title"><a href="{{ category.get_url }}">{{category.category_name}} </a></li>
                                            <li>
                                                <img id="category-image-{{ category.id }}"
                                                     src="{{ category.category_image.url }}"
                                                     style="width:300px; height:280px; padding: 2%;">
                                            </li>
                                        </ul>
                                        <script>
                                            document.getElementById('category-image-{{ category.id }}').addEventListener('click', function() {
                                                window.location.href = '{{ category.get_url }}';
                                            });
                                        </script>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li><a href="{% url 'recipes' %}">Рецепти</a></li>
                                {% if user.id is None %}
                                <li><a href="{% url 'login' %}">Влез</a></li>
                                <li><a href="{% url 'register' %}">Създай акаунт</a></li>
                                {% else %}
                                <li><a href="{% url 'logout' %}">Излез</a></li>
                                <li><a href="{% url 'dashboard' %}">Табло</a></li>
                                {% endif %}
                            </ul>
                            <!-- Newsletter Form -->
                            <div class="search-btn">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->